<div class="flex flex-col flex-auto justify-center place-items-center">
    <div class="flex-row items-center justify-center w-full mt-3">
        <div class="items-center justify-center">
            <!-- <h2 class="text-3xl mt-8 text-indigo-800 font-extrabold tracking-tight leading-8">My HiBeats</h2> -->
            <div class="text-white text-2xl font-bold leading-loose">Coincidences</div>
        </div>
    </div>
    <div  class="mt-6">
        <a href="https://www.youtube.com/watch?v=J8Uvreoy1sQ" target="_blank" class="text-primary-400">https://www.youtube.com/watch?v=J8Uvreoy1sQ</a>
    </div>

    <div  class="mt-4">
        <a href="https://www.youtube.com/watch?v=J8Uvreoy1sQ" target="_blank" class="text-primary-400">https://www.youtube.com/watch?v=J8Uvreoy1sQ</a>
    </div>

    <div class="flex items-center mt-10 sm:mt-0 sm:ml-2 space-x-3">
        <button
        class="mt-6"
            mat-flat-button
            [color]="'primary'">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:check'"></mat-icon>
            <span class="">Accept</span>
        </button>
      </div>
<!--
    <hibeats-file-upload *ngIf="!data.urlFile" (loadFile)="onLoadHibeatFile($event)">
    </hibeats-file-upload> -->

</div>
