<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="syspotec-card-front">
        <ng-content select="[syspotecCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="syspotec-card-back">
        <ng-content select="[syspotecCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="syspotec-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[syspotecCardExpansion]"></ng-content>
    </div>

</ng-container>
